<router-outlet></router-outlet>



<!--
1. created components, login, register, home.
2. routed the modules in app.routing.module
//====app.module.ts=====
3. imported the required modules and also in imports section
//====login.component.html=====
4. give the code for html
//====login.component.csss=====
5. give the code for csss
//====login.component.ts=======
6. imported the required modules
7. injected the modules in constructor
8. creating a form in ngOnInit to specify the required fields in the form created.
9. created a function for register button to navigate it to register page
10. created a function for login page.
//=========register.component.html=========
11. give the code for html with forms
//=========register.component.csss========
12. give the code for csss
//=========register.component.ts==========
13. imported the required modules
14. injected the modules in constructor
15. created a form in ngOnInit to specify the fields in form
16. created a funtion for register button to post the input data into the database.
17. created a function for login button to navigate the page back to login form.
//=========data.service.ts=================
18. created a funtion to get the data from the json file.
19. created a function to post the data into the json file.
//========login.component.ts===============
for login button:
1. assign the login credentials by the user into a const initially.
2. call the getUserdata() with the array initiated in the database and subscribe to it.
3. assign the data array from the database into a const variable.
4. again create a variable matcheduser to compare the input value to the database
5. if user input matches with the registered data then allow the user into the home page.

//========HOME PAGE==========================
AIM: TO CREATE A PAGE WITH EDIT BUTTON TO EDIT THE USERS DATABASE, A BUTTON TO PUT AND PATCH THE USERDATA
ALSO PROVIDE A BUTTON TO DELETE THE USER DATA.
1. in terminal, npm install -g json server // for fake json server.

 -->
