h2{
  color:black
}

h3{
  color:red
}

.pr-av{
  color: green;
}

.pr-no{
  color: red;
}


/* Custom pipe */
span.newPipe {
  font-size: 20px;
  font-weight: bold;
  color: #333;
  background-color: #ffc107;
  padding: 5px 10px;
  border-radius: 5px;
}
