

 <!-- <p>login works!</p>

<div class="login-container">
  <form [formGroup]="loginForm">

    <h2>LOGIN PAGE</h2>
    <input type="email" placeholder="enter your email here" formControlName="email">
    <br><br>
    <input type="password" placeholder="password" formControlName="password">
    <br><br>
    <button type="submit" (click)="onSubmit()">LOGIN</button>
  </form>
</div>

*/

-->

<!-- <p>login works!</p> -->

<div class="login-container">
  <form [formGroup]="loginForm">

    <h2>LOGIN PAGE</h2>
    <div class="input-container">
      <input type="email" placeholder="Enter your email here" formControlName="email">
      <i class="fa fa-envelope-o"></i>
    </div>
    <div class="input-container">
      <input type="password" placeholder="Password" formControlName="password">
      <i class="fa fa-lock"></i>
    </div>
    <button type="submit" (click)="onSubmit()">LOGIN</button>
  </form>
</div>

