
<h1>EMPLOYEE DATA BASE FROM jsonplaceholder</h1>
<div>
  <button mat-button (click)="fetchDataForm()">Fetch Data</button><br><br>
  <!-- mat-button is a directive provided by Angular Material that is used to style a button element in a Material Design style and
  upon clicking the button, the action is to call the function. -->
</div>

<table mat-table [dataSource]="dataSource"> <!--dataSource-- source of the data for the table-->
  <!-- the mat-table component provides a simple and easy-to-use way to display data in a table format with Material Design styling. -->
  <!-- ID Column -->
  <ng-container matColumnDef="id">
  <!--matColumnDef, indicates the name of the attribute from which the data to be fetched inside the column-->
    <th mat-header-cell *matHeaderCellDef> ID </th> <!-- ID- name to be displayed on the page-->
<!-- th and td defines the header and data cells of the column -->
<!-- mat-header-cell and mat-cell are to give material styls for those cells. -->
    <td mat-cell *matCellDef="let element"> {{element.id}} </td> <!--id - name of the data attribute in the database-->
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Name </th>
    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
  </ng-container>

  <!-- Email Column -->
  <ng-container matColumnDef="email">
    <th mat-header-cell *matHeaderCellDef> Email </th>
    <td mat-cell *matCellDef="let element"> {{element.email}} </td>
  </ng-container>

  <!-- website Column -->
  <ng-container matColumnDef="website">
    <th mat-header-cell *matHeaderCellDef> Website </th>
    <td mat-cell *matCellDef="let element"> {{element.website}} </td>
  </ng-container>

  <!-- zipcode Column -->
  <ng-container matColumnDef="username">
    <th mat-header-cell *matHeaderCellDef> username </th>
    <td mat-cell *matCellDef="let element"> {{element.username}} </td>
  </ng-container>
  <!-- Street Column -->
  <ng-container matColumnDef="street">
    <th mat-header-cell *matHeaderCellDef> Street </th>
    <td mat-cell *matCellDef="let element"> {{element.address.street}} </td>
  </ng-container>

    <!-- Street Column -->
  <ng-container matColumnDef="suite">
    <th mat-header-cell *matHeaderCellDef> Suite </th>
    <td mat-cell *matCellDef="let element"> {{element.address.suite}} </td>
  </ng-container>



  <!-- Phone Column -->
  <ng-container matColumnDef="phone">
    <th mat-header-cell *matHeaderCellDef> Phone </th>
    <td mat-cell *matCellDef="let element"> {{element.phone}} </td>
  </ng-container>



  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
